@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Courgette&family=Dongle:wght@300&family=Lato&family=Sacramento&display=swap')
	;

.letra1 {
	color: red;
}

h1 {
	text-align: center;
	font-family: 'Courgette', cursive !important;
	font-size: 40px !important;
}

h2 {
	text-align: center;
	font-family: 'Courgette', cursive !important;
	font-size: 30px !important;
}

.especial {
	text-align: center;
	font-family: 'Sacramento', cursive !important;
	font-size: 40px !important;
}


h3 {
	text-align: center;
	font-family: 'Courgette', cursive !important;
	font-size: 25px !important;
}

h4 {
	text-align: left;
	font-family: 'Lato', sans-serif !important;
	font-size: 20px !important;
	font-weight: bold !important;
}

label {
	font-family: 'Lato', sans-serif !important;
	text-align: justify;
	font-size: 18px !important;
}

body {
	font-family: 'Lato', sans-serif !important;
	text-align: justify;
	font-size: 18px !important;
}

p {
	font-family: 'Lato', sans-serif !important;
	text-align: justify;
	font-size: 18px !important;
}


input {
	font-family: 'Lato', sans-serif !important;
	text-align: justify;
	font-size: 15px !important;
}

.btn1 {
	background-color: #FEF0FE !important;
	color: black !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 18px !important;
	height: auto !important;
	border-color: #9D186F !important;
	margin-right: 5px;
}

.btn2 {
	background-color: #9D186F !important;
	font-family: 'Lato', sans-serif !important;
	font-size: 18px !important;
	height: auto !important;
	border-color: #9D186F !important;
	margin-right: 5px;
}



@media ( min-width : 768px) {
	.navbar-nav.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
}

.img-inicio {
	margin-right: 50px;
	margin-left: 50px;
}

.img-formato {
	width: 100% !important;
	height: 100% !important;
	border: 10px solid white !important;
	padding: 15px;
	border-radius: 10%;
}

.img-cartas{
	width: 100% !important;
	height: 100% !important;
	border-radius: 10%;
}

hr {
	border-color: black !important;
}

.cajitas{
	size: 100% !important;
	width: 100% !important;
	padding: 10px;
}

