<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1"/>

<link rel="stylesheet" href="" th:href="@{/css/estilos1.css}" >
<link rel="icon" type="image/x-icon" href="/imagenes/incintaLogo.png">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
	<!-- Sintaxis th:fragment="Nombre del fragment" -->
	<div th:fragment="header">
		<!-- this is header -->

		<nav class="navbar navbar-default" style="background-color: #FFFFFF">

			<div class="container">

				<ul class="nav nav-pills nav-justified">
				<li style="width: 50px;"><p class="navbar-text navbar-left"><img class="logo" th:src="@{/imagenes/incintaLogo.png}"  style="height:70px;width:70px; "></p></li>
				
					
					<li ><p class="navbar-text navbar-center"
							style="font-size: 30px; text-align:center;">
							<a style="color: #9D186F" th:href="@{/public/bienvenidoInicio}">INICIO</a>
						</p></li>
					<li ><p class="navbar-text navbar-right"
							style="font-size: 30px">
							<a style="color: #9D186F" th:href="@{/auth/login}">LOGIN</a>
						</p></li>
				</ul>

			</div>
		</nav>
		
	</div>

</body>

</html>
