<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="icon" type="image/x-icon" href="/imagenes/incintaLogo.png">
	
		<meta charset="ISO-8859-1"></meta>
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
	</head>

	<body>
		
		<div th:fragment="header">
			<!-- this is header -->
			<nav class="navbar navbar-default" style="background-color: #FEF0FE">
				<div class="container">
					
					<div class="navbar-header">
						<a class="navbar-brand" th:href="@{/insertarUsuario/bienvenido}" style="font-size:35px; color: black">ADMINISTRADOR</a>
					</div>
					
					<div id="navbar" class="collapse navbar-collapse">
					
						<ul class="nav navbar-nav">
						
							<li role="presentation"><a th:href="@{/insertarPaises/listar}" style="color:black">Paises</a></li>
							<li role="presentation"><a th:href="@{/insertarMDP/listar}" style="color:black">MetodoDePago</a></li>
							<li role="presentation"><a th:href="@{/insertarUsuario/listar}" style="color:black">Usuario</a></li>
							<li role="presentation"><a th:href="@{/tipoIdentificacion/listar}" style="color:black">Identificacion</a></li>
							<li role="presentation"><a th:href="@{/eventos/listar}" style="color:black">Eventos</a></li>
							<li role="presentation"><a th:href="@{/preguntasGestante/listar}" style="color:black">Preguntas Gestantes</a></li>
							<li role="presentation"><a th:href="@{/parametro/listar}" style="color:black">Parametros</a></li>
							<li role="presentation"><a th:href="@{/registro/listar}" style="color:black">Registros</a></li>						
							<li role="presentation"><a th:href="@{/public/logout}" class="btn btn-primary mt-3" style="background-color: #9D186F">Log-Out</a>
						</ul>
						 
					</div>
					
				</div>
			</nav>
		</div>
	
	</body>
	
</html>
