<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="icon" type="image/x-icon" href="/imagenes/incintaLogo.png">
<meta charset="ISO-8859-1"></meta>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

</head>

<body>
	<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
	<!-- Sintaxis th:fragment="Nombre del fragment" -->
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/insertarUsuario/bienvenido}">INCINTA</a>
				</div>

				<div id="navbar" class="collapse navbar-collapse">


					<ul class="nav nav-pills nav-stacked">

					<li>	<img class="logo" th:src="@{/imagenes/incintaLogo.png}"
                     style="height: 50px; width: 50px"> </li>
					</ul>

					<ul class="nav navbar-nav">


						<li class="active" role="presentation"><a th:href="@{/eventos/listar}">Mis
								Eventos</a></li>
						<li class="active" role="presentation"><a th:href="@{/preguntasGestante/listar}">Mis

								Preguntas</a></li>
					  <li role="presentation"><a th:href="@{/parametro/listar}">Mis
								Parametros</a></li>

						<li class="active" role="presentation"><a th:href="@{/registro/listar}">Mis
              Registros</a></li>
								
						<li class="active" ><a th:href="@{'/insertarUsuario/modificar/'}+${session.usuario.usuarioID}"> Mi Perfil </a></li>
						
						<li class="active" role="presentation"><form th:action="@{/public/logout}"
								method="post">
								<button type="submit" class="btn btn-primary mt-3">Log-Out</button>
							</form>

					</ul>


				</div>

			</div>
		</nav>
	</div>

</body>

</html>
