<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>INCINTA</title>

<link rel="stylesheet" href="" th:href="@{/estilos/styleUsuario.css}">

<script src="https://kit.fontawesome.com/41bcea2ae3.js"
	crossorigin="anonymous"></script>

<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body id="body" style="background-color: #F4E3EE">

	<div th:if="${session.usuario.admin == 1}">
		<div th:replace="fragments/headerAdmin :: header"></div>
	</div>
	<div th:if="${session.usuario.admin == 2}">
		<div th:replace="fragments/headerUsuario :: header"></div>
	</div>

	<main>
		<div class="container">
		
		
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" align="center">
					<h1>Bienvenida a Incinta</h1>
					<h2 class="especial">La applicación web que te ayudará a
						llevar un control de tu embarazo</h2>
					<img th:src="@{/imagenes/IncintaLogoRosa.png}" width="300"
						height="300" alt="incintaLogo" align="middle"> </img>
				</div>
			</div>





			<div class="row clearfix">
				<div class="col-md-6 column" align="Left">
					<h3>¿Qué podemos hacer por tí?</h3>
					<p>La aplicación cuenta con 4 secciones principales: Mis
						Eventos, Mis Parámetros, Mis Preguntas y Mis Registros.</p>
					<p>Cada una de estas secciones te permiten registrar parámetros
						que te pueden ser útiles a la hora de ir a citas médicas o solo
						para tener un registro de tu embarazo.</p>
					<h3>Detallando un poco más los campos:</h3>

					<p>Mis Eventos: Podrás agendar tus eventos en una lista para
						tener todo ordenado. Por ejemplo, podrías enlistar una cita
						médica.</p>

					<p>Mis Preguntas: Podrás enlistar preguntas o consultas
						triviales que quieras hacer a tu médico en alguna cita. De esta
						manera, no te olvidarás de realizar alguna pregunta.</p>

					<p>Mis Parámetros: Es una sección para registrar parámetros
						como "metros", "cm", para que luego puedas registrar valores en
						caso los necesites. Nosotros te proveemos algunos parámetros, la
						sección existe por si tu quieres añadir alguno personalmente.</p>

					<p>Mis Registros: Podrás registrar valores de signos vitales
						importantes que quieras llevar un registro. Por ejemplo, podrás
						mantener un registro de tu peso.</p>





				</div>
				<div class="col-md-6 column" align="right">
					<img th:src="@{/imagenes/pregnant2.jpg}" alt="bienvenida2"
						align="middle" class="img-formato"> </img>
				</div>
			</div>

			<br>
			<hr>
			<br>


			<h2>Guía de uso detallada</h2>
			<br>
			<div class="row clearfix">
				<div class="col-md-6 column" align="Left">

					<h4>Mis Eventos</h4>
					<p>La sección de Mis Eventos cuenta con 5 apartados para
						llenar. Te solicitará un título para el evento, la fecha del
						evento, la hora de inicio y la hora de fin. El último apartado es
						de comentarios, el cual puede ser llenado opcionalmente.</p>
					<p>Luego de haber completado las casillas y de darle al botón
						de “Aceptar”, la aplicación te re-direccionará a una tabla que
						contendrá todos los eventos que hayas registrado.</p>
					<p>Como acciones extra, hay un botón de un tacho y uno de un
						lápiz. Estos botones sirven para que elimines o edites un evento.
						También hay un botón de búsqueda, para buscar algún evento por
						fecha.</p>
					<p>Piensa en “Mis Eventos” como un calendario, pero listado.</p>

				</div>
				<div class="col-md-6 column" align="right">
					<img th:src="@{/imagenes/misEventos.jpg}" alt="bienvenida2"
						class="img-formato" align="middle"> </img>
				</div>
			</div>
			<br> <br>

			<div class="row clearfix">
				<div class="col-md-6 column" align="Left">
					<img th:src="@{/imagenes/misPreguntas.jpg}" alt="bienvenida2"
						class="img-formato" align="middle"> </img>
				</div>
				<div class="col-md-6 column" align="Right">

					<h4>Mis Preguntas</h4>
					<p>La sección de Mis Preguntas cuenta con 3 apartados para
						llenar. Te solicitará un título para la pregunta, una descripción
						opcional y una fecha.</p>
					<p>Luego de haber completado las casillas y de darle al botón
						de “Aceptar”, la aplicación te re-direccionará a una tabla que
						contendrá todas las preguntas que hayas registrado.</p>
					<p>Como acciones extra, hay un botón de un tacho y uno de un
						lápiz. Estos botones sirven para que elimines o edites un evento.
						También hay un botón de búsqueda, para buscar alguna pregunta por
						su título.</p>
					<p>Piensa en “Mis Preguntas” como un apartado para registrar
						una lista de preguntas y/o consultas que quisieras tener al
						alcance cuando vayas a una cita médica.</p>


				</div>
			</div>
			<br> <br>
			<div class="row clearfix">
				<div class="col-md-6 column" align="Left">

					<h4>Mis Parámetros</h4>
					<p>La sección de Mis Parámetros es algo especial, pues depende
						de otra sección llamada “Unidades”, y luego le genera dependencia
						a la sección de “Mis Registros”. Hay algunos parámetros
						pre-definidos por nosotros, pero esta sección es para que crees
						uno en caso no encuentres lo que buscas.</p>
					<p>La sección de Mis Parámetros cuenta con 2 apartados para
						llenar: un nombre y una unidad. Las Unidades también las proveemos
						nosotros, pero, en caso no encuentres la que necesites, puedes
						crear una propia y luego asignarla a un parámetro.</p>
					<p>Luego de haber completado las casillas y de darle al botón
						de “Aceptar”, la aplicación te re-direccionará a una tabla que
						contendrá todos los parámetros que hayas registrado.</p>
					<p>Como acciones extra, hay un botón de un tacho y uno de un
						lápiz. Estos botones sirven para que elimines o edites un evento.
						También hay un botón de búsqueda, para buscar algún parámetro por
						su nombre.</p>
					<p>“Mis Parámetros” es una sección que te permite crear los
						parámetros que necesites para llenar tus registros de signos
						vitales.</p>
				</div>

				<div class="col-md-6 column" align="right">
					<img th:src="@{/imagenes/misParametros.jpg}" alt="bienvenida2"
						class="img-formato" align="middle"> </img>
				</div>
			</div>
			<br> <br>
			<div class="row clearfix">
				<div class="col-md-6 column" align="Left">
					<img th:src="@{/imagenes/misRegistros.jpg}" alt="bienvenida2"
						class="img-formato" align="middle"> </img>
				</div>
				<div class="col-md-6 column" align="Right">
					<h4>Mis Registros</h4>
					<p>La sección de Mis Registros cuenta con 4 apartados para
						llenar. Te solicitará un parámetro, un valor (el número), una
						fecha y alguna anotación. El último apartado puede ser llenado
						opcionalmente.</p>
					<p>Luego de haber completado las casillas y de darle al botón
						de “Aceptar”, la aplicación te re-direccionará a una tabla que
						contendrá todos los registros que hayas realizado.</p>
					<p>Como acciones extra, hay un botón de un tacho y uno de un
						lápiz. Estos botones sirven para que elimines o edites un evento.
						También hay un botón de búsqueda, para buscar algún evento por
						fecha.</p>
					<p>Piensa en “Mis Registros” como una lista de signos vitales
						registrados, que podrías utilizar al ir a una cita médica.</p>


				</div>

			</div>


			<br>
			<hr>
			<br>
			<h2>Resumen de nosotros</h2>
			<br>

			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img th:src="@{/imagenes/lottusCuadrado.jpeg}" width="400"
							height="200" alt="logoLottus" class="img-cartas"> </img>
						<div class="caption">
							<h3>¿Quienes somos?</h3>
							<p>Somos un grupo de estudiantes de la Universidad Peruana de
								Ciencias Aplicadas</p>

						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img th:src="@{/imagenes/pregnant1.jpg}" alt="logoLottus" class="img-cartas"> </img>
						<div class="caption">
							<h3>¿Qué es INCINTA?</h3>
							<p>Incinta es una aplicación dirigida a todas las madres
								gestantes que deseen mantener un control sobre su ciclo de
								embarazo</p>
							<p>Podrás registrar tus consultas médicas, guardar las
								preguntas que quieres hacerle a tu doctor, entre otras cosas.</p>
							
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img th:src="@{/imagenes/IncintaLogoRosa.png}" width="400"
							height="200" alt="logoLottus" class="img-cartas"> </img>
						<div class="caption">
							<h3>INCINTA</h3>
							<p>Es una aplicación de costo unico de $4.00</p>
							<p>Luego de ello tendás acceso a la aplicación</p>
						</div>
					</div>
				</div>
			</div>






		</form>
		</div>
	</main>

	<div th:replace="fragments/footer :: footer"></div>

	<script th:src="@{/js/script.js}"></script>
</body>

</html>