<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1"></meta>
<title>Registro</title>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

<script type="text/javascript" th:src="@{/js/usuario.js}"></script>

</head>

<body>


	<div th:replace="fragments/headerUsuario :: header"></div>


	<div class="container">
		<form th:action="@{/auth/registrar}" method="post"
			th:object="${usuario}">

			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>

			<div class="form-group">

				<input type="text" class="form-control" th:field="*{usuarioID}"
					style="visibility: hidden"> </input>

				<div class="form-group">
					<label for="nombre">NOMBRE:</label> <input type="text"
						class="form-control" th:field="*{nUsuario}" id="nombre" readonly></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('nUsuario')}" th:errors="*{nUsuario}">
					</div>

				</div>

				<div class="form-group">
					<label for="apellido">APELLIDO:</label> <input type="text"
						class="form-control" th:field="*{uApellido}" id="apellido"
						readonly></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('uApellido')}" th:errors="*{uApellido}">
					</div>

				</div>

				<div class="form-group">
					<label for="correo">CORREO:</label> <input type="email"
						class="form-control" th:field="*{uCorreo}" id="correo" readonly></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('uCorreo')}" th:errors="*{uCorreo}">
					</div>

				</div>

				<div class="form-group">
					<label for="nombre">TIPO DE IDENTIFICACION:</label> 
					<input type="text"
					class="form-control" th:field="*{iDTipoIdentificacion.nIdentificacion}" id="text"
					readonly></input>
				</div>

				<div class="form-group">
					<label for="numID">NÃšMERO DE IDENTIFICACIÃ“N:</label> <input
						type="text" class="form-control" th:field="*{numIdentificacion}"
						id="numID" readonly></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('numIdentificacion')}"
						th:errors="*{numIdentificacion}"></div>

				</div>

				<div class="form-group">
					<label for="fnacimiento">FECHA DE NACIMIENTO:</label> <input
						type="date" class="form-control" th:field="*{dNacimiento}"
						id="fnacimiento" readonly></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('dNacimiento')}"
						th:errors="*{dNacimiento}"></div>

				</div>

				<div class="form-group">
					<label for="nombre">PAIS:</label> 
					<input type="text"
					class="form-control" th:field="*{iDPais.nombrePais}" id="text"
					readonly></input>
				</div>
				
				<div class="form-group">
					<label for="nombre">MÃ‰TODO DE PAGO:</label> 
					<input type="text"
					class="form-control" th:field="*{iDMetodoPago.nombreMetodoPago}" id="text"
					readonly></input>
				</div>

				<div class="form-group">
					<label for="ntarjeta">NÃšMERO DE TARJETA:</label> <input
						type="text" class="form-control" th:field="*{numMetodoPago}"
						id="ntarjeta" readonly></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('numMetodoPago')}"
						th:errors="*{numMetodoPago}"></div>
				</div>
				
				<div class="form-group">
					<label for="nombre">SEMANA DE GESTACIÃ“N:</label> 
					<input type="text"
					class="form-control" th:field="*{semanaGestacion}" id="text"
					readonly></input>
				</div>

				<input type="text" class="form-control" th:field="*{admin}"
						style="visibility: hidden"> </input>
						
				<input type="text" class="form-control" th:field="*{uPassword}"
						style="visibility: hidden"> </input>

			</div>


			<a th:href="@{'/public/modificar/'}+${session.usuario.usuarioID}" class="btn btn-info">EDITAR</a>
			<a th:href="@{'/public/modificarP/'}+${session.usuario.usuarioID}" class="btn btn-info">CAMBIAR CONTRASEÑA</a>

		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>