<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1"></meta>
<title>Eventos</title>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

<script type="text/javascript" th:src="@{/js/race.js}"></script>

</head>

<body>
	<div th:if="${session.usuario.admin == 1}">
		<div th:replace="fragments/headerAdmin :: header"></div>
	</div>
	<div th:if="${session.usuario.admin == 2}">
		<div th:replace="fragments/headerUsuario :: header"></div>
	</div>
	<div class="container">
		<form th:action="@{/eventos/registrar}" method="post"
			th:object="${eventos}">
			<div class="form-group">

				<h1>Nuevo Evento</h1>

				<input type="text" class="form-control" th:field="*{idEventos}"
					style="visibility: hidden"> </input>

				<div class="form-group">
					<label for="nombre">Titulo:</label> <input type="text"
						class="form-control" th:field="*{tTitulo}" id="nombre"></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('tTitulo')}" th:errors="*{tTitulo}">
					</div>
				</div>

				<div class="form-group">
					<label for="inicio">Fecha de Inicio:</label> <input
						class="form-control" type="time" th:field="*{hInicio}" />
				</div>

				<div class="form-group">
					<label for="fin">Fecha de Fin:</label> <input class="form-control"
						type="time" th:field="*{hFin}" />
				</div>

				<div class="form-group">
					<label for="descripcion">Comentario:</label> <input type="text"
						class="form-control" th:field="*{tDescripcion}" id="descripcion"></input>
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('tDescripcion')}"
						th:errors="*{tDescripcion}"></div>
				</div>

				<div class="form-group">
					<select class="form-control" th:field="*{usuario.usuarioID}"
						style="visibility: hidden">
						<option th:each="r: ${listaUsuario}"
							th:value="${session.usuario.usuarioID}"
							th:text="${session.usuario.nUsuario}"
							th:selected="(${session.usuario.usuarioID}==*{usuario.usuarioID})">
						</option>
					</select>
				</div>


			</div>
			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/eventos/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>