<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Eventos</title>

<link rel="stylesheet" href="" th:href="@{/css/style.css}">

<script src="https://kit.fontawesome.com/41bcea2ae3.js"
	crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

<script type="text/javascript" th:src="@{/js/race.js}"></script>

</head>

<body id="body">

	<div th:if="${session.usuario.admin == 1}">
		<div th:replace="fragments/headerAdmin :: header"></div>
	</div>
	<div th:if="${session.usuario.admin == 2}">
		<div th:replace="fragments/headerUsuario :: header"></div>
	</div>
		
	<main>
	<div class="container">
		<form th:action="@{/eventos/registrar}" method="post"
			th:object="${eventos}">
			<div class="form-group">

				<h1>Nuevo Evento</h1>

				<input type="text" class="form-control" th:field="*{idEventos}"
					style="visibility: hidden"> </input>

				<div class="form-group">
					<label for="nombre">Titulo:</label> <input type="text"
						class="form-control" th:field="*{tTitulo}" id="nombre" required></input>

					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('tTitulo')}" th:errors="*{tTitulo}">
					</div>
				</div>
				
				<div class="form-group">
					<label for="nombre">Fecha de Evento:</label> <input type="date"
						class="form-control" th:field="*{fechaEvento}" id="fechaEvento" required></input>
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('fechaEvento')}" th:errors="*{fechaEvento}">
					</div>
				</div>

				<div class="form-group">
					<label for="inicio">Hora de Inicio:</label> <input
						class="form-control" type="time" th:field="*{hInicio}" required/>
				</div>

				<div class="form-group">
					<label for="fin">Hora de Fin:</label> <input class="form-control"
						type="time" th:field="*{hFin}" required/>
				</div>

				<div class="form-group">
					<label for="descripcion">Comentario:</label> <input type="text"
						class="form-control" th:field="*{tDescripcion}" id="descripcion" required></input>
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('tDescripcion')}"
						th:errors="*{tDescripcion}"></div>
				</div>

				<div class="form-group">
					<select class="form-control" th:field="*{usuario.usuarioID}"
						style="visibility: hidden">
						<option th:each="r: ${listaUsuarios}"
							th:value="${session.usuario.usuarioID}"
							th:text="${session.usuario.nUsuario}"
							th:selected="(${session.usuario.usuarioID}==*{usuario.usuarioID})">
						</option>
					</select>
				</div>


			</div>
			<button type="submit" class="btn btn-primary" style="background-color:#9D186F; width:250px">Aceptar</button>
			<a href="/eventos/listar" class="btn btn-danger" style="background-color:#FEF0FE; width: 250px; color: black">Cancelar</a>
		</form>
	</div>
	</main>
	
	<div th:replace="fragments/footer :: footer"></div>
	
	<script th:src="@{/js/script.js}"></script>
</body>

</html>