<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8"></meta>
<title>Parametro</title>

		<link rel="stylesheet" th:href="@{/estilos/styleUsuario.css}">

<script src="https://kit.fontawesome.com/41bcea2ae3.js"
	crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

<script type="text/javascript" th:src="@{/js/parametro.js}"></script>

</head>

<body id="body">

	<div th:if="${session.usuario.admin == 1}">
		<div th:replace="fragments/headerAdmin :: header"></div>
	</div>
	<div th:if="${session.usuario.admin == 2}">
		<div th:replace="fragments/headerUsuario :: header"></div>
	</div>
	
	<main>
	<div class="container">
		<form th:action="@{/parametro/registrar}" method="post"
			th:object="${parametro}">
			<div class="form-group">
			<h1>Nuevo Parametro</h1>

				<input type="text" class="form-control" th:field="*{idParametro}"
					style="visibility: hidden"> </input>

				<div class="form-group">
					<label for="nombre">NOMBRE:</label> <input type="text"
						class="form-control" th:field="*{nParametro}" id="nombre" required></input>
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('nParametro')}"
						th:errors="*{nParametro}"></div>
				</div>

				<div class="form-group">
					<label for="nombre">UNIDAD:</label> <select class="form-control"
						th:field="*{unidad.idUnidad}">
						<option th:each="u: ${listaUnidades}" th:value="${u.idUnidad}"
							th:text="${u.nUnidad}"
							th:selected="(${u.idUnidad} == *{unidad.idUnidad})"></option>
					</select>
				</div>


			</div>
			<button type="submit" class="btn btn-primary btn2" >Aceptar</button>
			<a href="/parametro/listar" class="btn btn-danger btn1" >Cancelar</a>
		</form>
	</div>
	</main>
	
	<div th:replace="fragments/footer :: footer"></div>
	
	<script th:src="@{/js/script.js}"></script>
</body>

</html>